.container{
    position: absolute;
  left: 25%;
  top: 20%;
  right: 20%;
}

.form-container {
    max-width: 40em;
    padding: 10px;
    background-color: white;
  }
  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border: 2px solid #4CAF50;
    border-radius: 5px;
  }  
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:5px;
    margin-top:20px;

    opacity: 0.8;
  }
  .gender{
      display: block;
      border: 2px solid #4CAF50;
      border-radius: 5px;
      padding: 1em;
  }
  