.container{
   margin: 1em 5em 1em 5em ;
   padding: 2em;
   border-top: 1px lightgray solid;
   background-color: white;
   img{
    float: left;
    padding: 1em;
   }
   .edit {
    float: right;
    border-radius: 5px;
    background-color: rgb(69, 69, 224);
    color: white;
    padding: 0.6em 1.6em ;
   }
   .remove {
    margin-right: 0.5em;
    float: right;
    border-radius: 5px;
    background-color: #c0392b;
    color: white;
    }
   
}
button{
padding: 0.6em;
}
.add-form{
    margin-top: 5em;
}