header {
    background: #333;
    color: #fff;
    text-align: left;
    height: 5em;
    
  }
  
 a {
    color: #fff;
    text-decoration: none;
   
    
    img{
        width: 4em;
        height: 4em;
        float: left;
        padding-top: 0em;
        margin-top: 0.5em;
        margin-left: 0.5em;
    }

}

.container{
    position: relative;
    display: block;
    
    .title{
        float: left;
        margin-top: 0.5em;
        font-size: 2em;
        font-weight: bold;
        margin-left: 0.5em;
    }
    .add{
        float: right;
        margin-top: 1.1em;
        font-size: 1.2em;
        margin-right: 0.5em;
        border: solid 2px white;
        padding: 0.2em
    }
      
     
  }
